%h1= @post.content

#images.m-3
  = link_to @post.image_url, target: :_blank do
    = image_tag @post.image_url(:thumbnail) if @post.image.present?
= render 'posts/likes/like_form', post: @post

%h3.mt-3 いいねしたユーザー
#liked_users.mt-4
  = render 'users/user_list', users: @post.liked_users

- if current_user == @post.user
  =link_to '編集', edit_user_post_path(@user, @post)
  \|
  =link_to '削除', user_post_path(@user, @post), method: :delete, data: {confirm: "削除しますか？"}

= render "comments/form", post: @post, comment: Comment.new

= render "comments/comment_list", comments: @post.comments.older
=link_to '戻る', posts_path
