%h1= @post.content

#images
  = image_tag @post.image_url
= render 'posts/likes/like_form', post: @post

%h3.mt-3 いいねしたユーザー
#liked_users.mt-4
  = render 'users/user_list', users: @post.liked_users

- if current_user == @post.user
  =link_to '編集', edit_user_post_path(@user, @post)
  \|
  =link_to '削除', user_post_path(@user, @post), method: :delete, data: {confirm: "削除しますか？"}

= render "comments/form", post: @post, comment: Comment.new

= render "comments/comment_list", comments: @post.comments.older
=link_to '戻る', posts_path
